/** Fonts */
@font-face {
  font-family : 'Source Serif Pro';
  font-style  : normal;
  font-weight : 400;
  font-display: swap;
  src         : local('SourceSerifPro-Regular'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-Regular.woff2) format('woff2'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf) format('ttf'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-Regular.woff) format('woff');
}

@font-face {
  font-family : 'Source Serif Pro';
  font-style  : normal;
  font-weight : 500;
  font-display: swap;
  src         : local('SourceSerifPro-Semibold'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.woff2) format('woff2'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf) format('ttf'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.woff) format('woff');
}

@font-face {
  font-family : 'Source Serif Pro';
  font-style  : normal;
  font-weight : 600;
  font-display: swap;
  src         : local('SourceSerifPro-Bold'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-Bold.woff) format('woff2'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf) format('ttf'),
    url(/fonts/Source_Serif_Pro/SourceSerifPro-Bold.woff) format('woff');
}

@font-face {
  font-family : 'Raleway';
  font-style  : normal;
  font-weight : 450;
  font-display: swap;
  src         : local('Raleway'),
    url(/fonts/Raleway/Raleway-VariableFont_wght.woff2) format('woff2'),
    url(/fonts/Raleway/Raleway-VariableFont_wght.ttf) format('ttf'),
    url(/fonts/Raleway/Raleway-VariableFont_wght.woff) format('woff');
}

html {
  font-size                : 1.6vw;
  height                   : 100%;
  /* animation             : fadeInAnimation ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode      : forwards; */
}

@media all and (min-width: 650px) {
  html {
    font-size: 20px;
  }
}

@media all and (max-width: 650px) {
  html {
    font-size: 16px;
  }
}

* {
  margin : 0;
  padding: 0;
}

ul,
ol {
  margin-left: 1.5rem;
}

table {
  width: 100%
}

section#main p {
  margin-bottom: 1rem;
}

body {
  font-family: 'Source Serif Pro', 'DejaVu Serif', 'Times New Roman', Times,
    serif;
  font-weight             : 400;
  line-height             : 1.45;
  font-variant-numeric    : oldstyle-nums;
  margin-left             : auto;
  margin-right            : auto;
  width                   : 100%;
  max-width               : 1280px;
  min-height              : 100%;
  position                : relative;
  z-index                 : -10000;
  -webkit-text-size-adjust: 100%;
  /* Prevent font size change after iOS orientation update. */
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
nav#page-nav,
footer {
  font-family: 'Raleway', sans-serif;
  margin-top : 0.5rem;
}

h1#page-title {
  font-size : 2.2rem;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

#logo {
  max-height: 7rem;
  max-width : 7rem;
}

/** Header and primary navigation layout */
div#content {
  display       : flex;
  min-height    : 100vh;
  flex-direction: column;
}

div#content>section#main {
  flex: 1 0 auto;
}

nav#main-nav>ul {
  list-style: none;
}

@media screen and (min-width: 650px) {
  div#content {
    margin-left : 7.5rem;
    margin-right: 0.5rem;
  }

  header#header {
    position      : absolute;
    top           : 0rem;
    left          : 0.5rem;
    line-height   : 120%;
    mix-blend-mode: darken;
  }

  div#header-content {
    position : fixed;
    max-width: 7rem;
  }
}

@media screen and (max-width: 650px) {
  div#header-content {
    display        : flex;
    justify-content: center;
    align-items    : center;
    align-content  : center;
  }

  #logo-link {
    width: 7rem;
  }

  div#content {
    margin: 0 0.5rem;
  }
}

/** The footer at the bottom of the page. */
footer {
  margin    : 0.5rem 0;
  align-self: flex-end;
}

footer>span:not(:last-child)::after {
  content: "\2002|\2002";
}

/** Page metadata spacing */
#page-metadata>span:not(:last-child)::after,
.post-metadata>span:not(:last-child)::after {
  content: "\2006;\2004";
}

#page-metadata time,
.post-metadata time {
  font-style: italic;
}

#page-metadata,
.post-metadata {
  margin-bottom: 1rem;
}

/** Page metadata tags */
ul.article-tag-list {
  margin    : 0;
  display   : inline;
  list-style: none;
}

ul.article-tag-list li {
  display: inline;
}

ul.article-tag-list>li:not(:last-child) {
  margin-right: 0.2rem;
}

/** Archive, index of all available posts. */
h2.archive-month-year-wrap>a.archive-month-year {
  text-decoration: none;
}

div.archive-article-inner {
  margin-left: 0.8rem;
}

/** Paginator navigation */
nav#page-nav {
  display        : flex;
  justify-content: center;
}

nav#page-nav>* {
  margin: 0 0.2rem;
}

nav#page-nav>span.current::before {
  content: "\1F892";
}

nav#page-nav>span.current::after {
  content: "\1F890";
}

/** Hexo Table of Contents display functionality. */
@media screen and (min-width: 650px) {
  ol.toc {
    float    : left;
    max-width: 30ch;
    margin   : 0 1rem 0 0;
  }
}

@media screen and (max-width: 650px) {
  ol.toc {
    float    : none;
    margin   : 1rem auto;
    font-size: 1.1rem;
  }
}

ol.toc {
  border          : 1px solid #ccc;
  background-color: #f9f9f9;
  font-family     : "Raleway", "DejaVu Sans", "Open Sans", Arial, Helvetica,
    sans-serif;
  line-height: 1.2;
  padding    : 6px;
  position   : relative;
  z-index    : 1;
}

ol.toc:empty {
  display: none;
}

ol.toc,
ol.toc ol {
  list-style-type: none;
  margin-top     : 0.2rem;
}

/* H1 */
ol.toc {
  counter-reset: htoc_1;
}

ol.toc>li::before {
  counter-increment: htoc_1;
  content          : counter(htoc_1) "\2006 ";
}

/* H2 */
ol.toc>li>ol {
  counter-reset: htoc_2;
  font-size    : 0.9rem;
}

ol.toc>li>ol>li::before {
  counter-increment: htoc_2;
  content          : counter(htoc_1) "."counter(htoc_2) "\2006 ";
}

/* H3 */
ol.toc>li>ol>li>ol {
  counter-reset: htoc_3;
  font-size    : 0.8rem;
}

ol.toc>li>ol>li>ol>li::before {
  counter-increment: htoc_3;
  content          : counter(htoc_1) "."counter(htoc_2) "."counter(htoc_3) "\2006 ";
}

/* H4 */
ol.toc>li>ol>li>ol>li>ol {
  counter-reset: htoc_4;
  font-size    : 0.7rem;
}

ol.toc>li>ol>li>ol>li>ol>li::before {
  counter-increment: htoc_4;
  content          : counter(htoc_1) "."counter(htoc_2) "."counter(htoc_3) "."
    counter(htoc_4) "\2006 ";
}

/* H5 */
ol.toc>li>ol>li>ol>li>ol>li>ol {
  counter-reset: htoc_5;
}

ol.toc>li>ol>li>ol>li>ol>li>ol>li::before {
  counter-increment: htoc_5;
  content          : counter(htoc_1) "."counter(htoc_2) "."counter(htoc_3) "."
    counter(htoc_4) "."counter(htoc_5) "\2006 ";
}

/* H6 */
ol.toc>li>ol>li>ol>li>ol>li>ol>li>ol {
  counter-reset: htoc_6;
}

ol.toc>li>ol>li>ol>li>ol>li>ol>li>ol>li::before {
  counter-increment: htoc_6;
  content          : counter(htoc_1) "."counter(htoc_2) "."counter(htoc_3) "."
    counter(htoc_4) "."counter(htoc_5) "."counter(htoc_6) "\2006 ";
}

/** Overflow indicators for long x-axis content (highlight) */
figure.highlight,
mjx-container[jax="SVG"],
pre {
  overflow-x: auto;
  background: linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0)) left/3em no-repeat local,
    linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) right/3em no-repeat local,
    radial-gradient(farthest-side at 0 50%,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)) left/0.7em no-repeat scroll,
    radial-gradient(farthest-side at 100% 50%,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)) right/0.7em no-repeat scroll;
}

mjx-container[jax="SVG"] {
  display: inline-block;
  max-width: 100%;
}

/** Style for rendering code blocks */
pre,
code {
  font-family: "Fira Mono", "Courier New", Courier, monospace;
}

pre {
  margin    : 0;
  overflow-x: auto;
  padding   : 0 2px;
  border    : 1px dashed #c8c8c8;
}

:not(pre)>code {
  padding         : 0 2px;
  font-size       : 0.9em;
  border          : 1px solid #c8c8c8;
  background-color: #fafafa;
  white-space     : pre-wrap;
  word-break      : break-all;
}

/** Highlight.js hljs theme (Modified from GitHub) */
.hljs {
  display   : block;
  overflow-x: auto;
  color     : #333;
}

.hljs-comment,
.hljs-quote {
  color     : #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color      : #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color      : #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color      : #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color      : #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color      : #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

#footer>.wname {
  text-align: center;
  opacity: 75%;
}